.register__input{
    margin-block-start: 0;
    margin-block-end: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    border: 0;
    border-bottom: 2px solid #CCCCCC;
    background-color: black;
    color: white;
}
.register__input:last-of-type{
    margin-top: 21px;
}