.login__button{
    margin-top: 218px;
    height: 50px;
    width: 358px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: black;
    cursor: pointer;
    margin-bottom: 112px;
}