.element__name{
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 79px;
    position: relative;
    display: flex;
    padding-left: 21px;
    justify-content: space-between;
    padding-right: 15px;
}