@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/logo/_place/logo_place_header.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__signout/header__signout.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__info/header__info.css);
/* Стили для профиля */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__add/profile__add.css);
@import url(./blocks/profile/__change/profile__change.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__personal/profile__personal.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__photo-edit/profile__photo-edit.css);
@import url(./blocks/profile/__plus/profile__plus.css);
/* Стили для ленты фотграфий */
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__delete/element__delete.css);
@import url(./blocks/element/__delete/_visible/element__delete_visible.css);
@import url(./blocks/element/__like-zone/element__like-zone.css);
@import url(./blocks/element/__counter/element__counter.css);
@import url(./blocks/element/__img/element__img.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__name/element__name.css);
@import url(./blocks/element/__paragraph/element__paragraph.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/element/__img-popup/element__img-popup.css);
/* стили для подвала */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
/* стили для формы заполненияы */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__view/popup__view.css);
@import url(./blocks/popup/_view-place/popup_view-place.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/_opend/popup_opend.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);

@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_able/form__input-error_able.css);
@import url(./blocks/form/__save-button/form__save-button.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_error/form__input_error.css);
@import url(./blocks/form/__save-button/_disable/form__save-button_disable.css);

@import url(./blocks/login/login.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__button/login__button.css);

@import url(./blocks/register/register.css);
@import url(./blocks/register/__button/register__button.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/register/__login-link/register__login-link.css);
@import url(./blocks/register/__login-text/register__login-text.css);
@import url(./blocks/./register/__signin/register__signin.css);

@import url(./blocks/infotooltip/infoTooltip.css);
@import url(./blocks/./infotooltip/__check/infotooltip__check.css);
@import url(./blocks/infotooltip/__corect/infotooltip__corect.css);
@import url(./blocks/infotooltip/__error/infotooltip__error.css);
@import url(./blocks/infotooltip/__massage/infotooltip__massage.css);
@import url(./blocks/infotooltip/__text/infotooltip__text.css);